<nav class="desktopnav show-smallup">
    <h3 class="sr">Desktop navigation</h3>
    <div class="maxwidth-sl wrapper-x mx-auto">
        <ul class="none d-flx pos-rel main-nav">
            {% if site.data.navigation.mainnav[0] %}
                {% for item in site.data.navigation.mainnav %} {% assign class = "" %}
                {% if item.url == page.url %} 
                    {% assign class = class | append: " is-active" %} 
                {% endif %}
                    <li class="py-1 mg-1 main-list">
                        <a href="{{ item.url | prepend: site.url }}">
                            {% if item.url == '/search/' %}
                                {% include tools/icons.html icon="search" %}
                            {% else %}
                                {{ item.section }}
                            {% endif %}
                        </a>
                        {% if item.pages[0] %}
                            <ul class="none pos-abs sublist">
                                {% for entry in item.pages %}
                                    <li class="sub-list-item">
                                        <a href="{{ entry.url | prepend: site.url }}">
                                            <p>{{ entry.page }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>

<div id="myNav" class="overlay">
    <button class="closebtn">&times;</button>
    <div class="overlay-content smalltext">
        <ul class="none">
            <li class="smalltext">
                <a class="smalltext" href="/">Home</a>
            </li>
            <li>
                <a class="smalltext" href="/about/">About</a>
            </li>
            <li>
                <a class="smalltext" href="/consumers/">For Consumers</a>
            </li>
            <li>
                <a class="smalltext" href="/businesses/">For Businesses</a>
            </li>
            <li>
                <a class="smalltext" href="/ngos/">NGOs</a>
            </li>
            <li>
                <a class="smalltext" href="/how-tos/">How To...</a>
            </li>
            <li>
                <a class="smalltext" href="/publications/">Publications</a>
            </li>
            <li>
                <a class="smalltext" href="/news-events/">News and Events</a>
            </li>
            <li>
                <a class="smalltext" href="/search/">Search</a>
            </li>
        </ul>
    </div>
</div>
