<head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tonye Dickson (psybug)">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/uploads/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/uploads/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/uploads/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/uploads/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Core CSS file -->
    <link rel="stylesheet" href="{{ site.url }}/css/photoswipe.css"> 

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
        In the folder of skin CSS file there are also:
        - .png and .svg icons sprite,   
        - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="{{ site.url }}/css/default-skin.css">

    <!-- Core JS file -->
    <script src="{{ site.url }}/js/photoswipe.min.js"></script> 

    <!-- UI JS file -->
    <script src="{{ site.url }}/js/photoswipe-ui-default.min.js"></script> 

    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <link href="{{ site.url }}/css/flickity.min.css" rel="stylesheet" />
    <script src="{{ site.url }}/js/flickity.pkgd.min.js"></script>
    <link href="{{ site.url }}/css/style.css" rel="stylesheet" />


    {% seo %}
</head>