<div class="maxwidth-sl top-nav mx-auto">
    <div class="wrapper top-break al-i-c j-c-c">
        <div class="d-flx logos sp-b al-i-c">
            <div class="d-flx al-i-c">
                <div class="logo prefix">
                    <a href="/">
                        <img src="{{ site.url }}/uploads/logo.jpg" alt="">
                    </a>
                </div>
                <p class="smalllh"><a class="site-title" href="/">{{ site.title }}</a></p>
            </div>
            <div class="small-logo suffix is-wider">
                <img src="{{ site.url }}/uploads/coat-of-arms.png" alt="">
            </div>
        </div>
        <div class="d-flx j-c-sb sp-t">
            <div class="menu-icon suffix openbtn"style="font-size: 24px">&#9776;
                <span class="suffix smalltext">Menu</span>
            </div>
            <!-- <div>
                <a href="http://user.cpc.softcom.ng/signin" target="_blank"><button class="btn p-1 btn-white">Sign In</button></a>
                <a href="http://user.cpc.softcom.ng/complain" target="_blank"><button class="btn p-1 btn-red">File Complaint</button></a>
            </div> -->
        </div>
    </div>
</div>