---
title: Consumer Protection Council
timezone: Pacific/Pago_Pago
collections:
  announcements:
    title: Announcements
    output: true
  posts:
    title: Posts
    output: true
  publications:
    title: Publications
    output: true
    permalink: "/publications/:collection/:name/"
  documents:
    title: Relevant Documents
    output: true
    permalink: "/ngos/:collection/:name/"
  testimonials:
    title: Testimonials
    output: true
    permalink: "/consumers/testimonials/:collection/:name/"
  uploads:
    title: Uploads (Media & Files)
    output: true
defaults:
- scope:
    path: ''
    type: blog
  values:
    permalink: "/:collection/:year/:month/:day/:title/"
    image: 
    is_blog: true
    layout: news-single
- scope:
    path: ''
    type: releases
  values:
    permalink: "/news-events/:collection/:year/:month/:day/:title/"
    image: 
    is_releases: true
    layout: news-single
- scope:
    path: ''
    type: speeches
  values:
    permalink: "/news-events/:collection/:year/:month/:day/:title/"
    image: 
    is_speeches: true
    layout: news-single
- scope:
    path: ''
    type: announcements
  values:
    permalink: "/news-events/:collection/:year/:month/:day/:title/"
    image: 
    is_announcements: true
    layout: news-single
- scope:
    path: ''
    type: alerts
  values:
    permalink: "/news-events/:collection/:year/:month/:day/:title/"
    image: 
    is_alerts: true
    layout: news-single
- scope:
    path: ''
    type: events
  values:
    permalink: "/news-events/:collection/:title/"
    event_date: 
    event_time: 
    event_summary: 
    event_venue: 
    image: 
    is_events: true
    layout: news-single
- scope:
    path: ''
    type: gallery
  values:
    permalink: "/:collection/:title/"
    is_gallery: true
- scope:
    path: ''
    type: education
  values:
    permalink: "/:collection/:title/"
    is_gallery: true
shortname: cpc
legal_tag: The Council
description: CPC is the apex consumer protection agency in Nigeria established to
  improve the well-being of the people.
url: http://cpc.gov.ng
charset: utf-8
pagination:
  enabled: true
  permalink: "/:num/"
  title: ":title - :num"
  paginate_path: ":num"
actions:
- title: Take Action
  subpages:
  - name: File a Complaint
    link: http://user.cpc.gov.ng/signin
    text: Filing a complaint will help CPC to serve you better.
  - name: Leave a Review
    link: http://user.cpc.gov.ng/signin
    text: Your reviews can help businesses know how they are performing.
  - name: Track a Complaint
    link: http://user.cpc.gov.ng/signin
    text: Keep track of your complaints and account with CPC.
  - name: Know your rights
    link: "/consumers/rights"
    text: Know your rights and responsibilities as a consumer.
social_media:
- title: Social
  subpages:
  - name: Facebook
    link: cpcng
  - name: Twitter
    link: cpcnig
  - name: Instagram
    link: cpcnigeria
apps:
- title: Apps
  subpages:
  - name: Android
    link: https://play.google.com/store/apps/details?id=com.softcom.cpc.android
  - name: iOS
    link: https://itunes.apple.com/us/app/consumer-protection-council/id1355501646?mt=8&ign-mpt=uo%3D4
legal:
- title: Legal
  subpages:
  - name: Terms of Use
    url: "/terms-of-use/"
  - name: Privacy Policy
    url: "/privacy-policy/"
  - name: Sitemap
    url: "/sitemap/"
headquarters:
  title: Headquarters
  address: No. 17 Nile Street, Maitama, Abuja.
  phone: '0805 600 2020, 0805 600 3030'
  email: contact@cpc.gov.ng
  contact_url: "/contact/"
  head: Babatunde Irukera
markdown: kramdown
include:
- _pages
plugins:
- jekyll-paginate-v2
- jekyll-seo-tag
autopages:
  enabled: true
  collections:
    layouts:
    - news-all.html
    enabled: true
sass:
  sass_dir: _sass
  style: compressed
exclude:
- node_modules
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
- ".gitignore"
