// 
    // Buttons

    // @package hdy
    // @author  Kabolobari Benakole <i@kb.life>

.btn
    display:                inline-flex
    align-items:            center
    font-family:            $headingfont
    font-size:              $microfont
    line-height:            0
    border-radius:          4px
    &.has-shadow
        box-shadow:         inset 0 1px 8px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5)
    &.btn-brand
        background-color:   $primarycolor
        color:              #fff
    &.btn-red
        background-color:   #ce2523
        color:              #fff
    &.btn-red:hover
        background-color:   #8e2319
    &.btn-default
        background-color:   rgba(0, 0, 0, 0.2)
    &.btn-white
        background-color:   #fff
    &.btn-white:hover
        background-color:   $primarycolor
        color:              #fff
    &.btn-small
        padding:            $space-xs $space-sm
        padding-bottom:     $space-xs + 0.12rem

.flash-a
    display:                block 
    position:               relative  

.flash-btn
    margin-left:            -30px
    display:                block
    

.flash-svg
    display:                block
    position:               absolute
    top:                    60%
    transform:              translateY(-50%)
    left:                   -10px

.flash-h
    position:               absolute
    color:                  white
    top:                    -15px
    margin-left:            3rem
    font-size:              .815rem

.flash-boxshadow
    box-shadow:             0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

.ml-4
    margin-left:        7rem