---
layout: default
---

<section class="maxwidth-sl mx-auto">
    <div class="wrapper">
        {% include lists/breadcrumbs.html %}
        <h2>{{ page.title }}</h2>
        <p> {{ page.summary | markdownify }}</p>
    </div>
    
</section>

<section class="maxwidth-sl mx-auto sub-container">
    <div class="wrapper">
        {% for cpa in site.cpa %}
            <h2>{{ cpa.title }}</h2>
            <p>{{ cpa.details | markdownify }}</p>
        {% endfor %}
        <h2>Regulators</h2>
        <ul class="none">
            {% for regulator in site.regulators %}
            <li>
                    <h4>{{ regulator.title }}</h4>
                    <p>{{ regulator.details }}</p>
                </li>
            {% endfor %}
        </ul>
        <br>
        <h2>International and Regional Development Partners</h2>
        <ul class="none">
            {% for partner in site.partners %}
            <li>
                <h4>{{ partner.title }}</h4>
                <p>{{ partner.details }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>