---
layout: default
---

<section class="maxwidth-sl mx-auto wrapper pb-1 top-heading">
    {% include lists/breadcrumbs.html %}
    <h2 class="mb">{{ page.title }}</h2>
</section>
<section class="maxwidth-sl mx-auto wrapper pb-2">
    <img class="feature-image" src="{{ page.intro.dg_image | prepend: site.url }}" alt="{{ page.intro.dg_name }}">
    <p class="mb-2 tx-r"><i>{{ page.intro.dg_title }}</i></p>
    
    <div class="my-2">
        <p>{{ page.intro.dg_message | markdownify }}</p>
    </div>
</section>
