---
layout: default
---

<div class="mt-h p-1 pb-h">
    <a href="{{ site.url }}/news-events/releases/" class="flash-a maxwidth-lt flash-boxshadow mx-auto p-h">
        <div class="flash-btn">
            <svg class="flash-svg" width="140" height="70" viewBox="0 0 558 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="178" height="53" fill="black" fill-opacity="0" transform="translate(12) scale(3)" />
                <path d="M39 159L12 123H39V159Z" fill="#6d0403" />
                <g filter="url(#filter0_d)">
                    <path d="M546 0H12V123H472.5L546 0Z" fill="#ce2523" />
                </g>
                <defs>
                    <filter id="filter0_d" x="0" y="0" width="558" height="147" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 255 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.18 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
            <h4 class="flash-h">NEW</h4>
        </div>
        {% assign reversedReleases = site.releases| reverse %} 
        {% assign latestRelease = reversedReleases[0] %}
        <div class="ml-4 p-0">
            <span class="co-richblack absolute-position nanotext">
                {{ latestRelease.title | truncate: 200, '...' }}
            </span>
        </div>
    </a>
</div>

<div class="maxwidth-sl mx-auto clearfix ">
    <section class="left-70 wrapper">
        <!-- <ul class="carousel first-carousel none" data-flickity='{ "autoPlay": 6000, "adaptiveHeight": true, "contain": true, "prevNextButtons": true, "pageDots": false, "wrapAround": true}'>
            {% assign sorted = site.events | where_exp: "page", "page.image contains 'uploads'" %}
            {% for post in sorted %}
                <li class="carousel-cell">
                    {% if post.image %}
                    <img src="{{ post.image | prepend: site.url}}">
                    {% else %}
                    <img src="{{ site.url }}/uploads/logo.jpg">
                    {% endif %}
                    <a href="{{ site.url }}{{ post.url }}" class="carous">
                    <div class="carousel-caption py-1 pos-abs">
                        <p class="caption">{{ post.title | truncatewords: 12 }}</p>
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul> -->
        <a href="{{ site.url }}/businesses/mergers/">
            <img src="{{ site.url }}/uploads/GAZETTE2.png">
        </a>
    </section>
    <aside class="right-30 sidebar wrapper">
        {% for item in site.actions %}
            <div class="take-action">
                <h3 class="m-0 pb-1">{{ item.title }}</h3>
                <ul class="none">
                    {% for entry in item.subpages %}
                    <li class="{% if entry.name == 'Know your rights' %} enabled {% endif %}">
                        <a href="{% if entry.link contains consumers %} {{ entry.link | prepend: site.url }} {% else %} {{ entry.link  }} {% endif %}" target="_blank">
                            <div class="p-h boxshadow d-flx mb-h a-i-c">
                                {% case entry.name %}
                                    {% when 'File a Complaint' %}
                                        {% include tools/icons.html icon="file-complaint" %}
                                    {% when 'Merger Notification' %}
                                        {% include tools/icons.html icon="review" %}
                                    {% when 'Track a Complaint' %}
                                        {% include tools/icons.html icon="rights" %}
                                    {% when 'Know your rights' %} 
                                        {% include tools/icons.html icon="track-complaint" %}
                                {% endcase %}
                                <div>
                                    <h4 class="microtext mb-hh mt-0">{{ entry.name }}</h4>
                                    <p class="nanotext co-readablegray smalllh m-0">{{ entry.text }}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </aside>
</div>
<section class="maxwidth-sl mx-auto">
    <div class="wrapper grid is-multi-col mostly-2">
        <ul id="home-testimonials" class="carousel none">
            <!-- {% for item in site.testimonials %}
                <li class="carousel-cell p-2 d-flx fd-c j-c-c tx-c">
                    <p>{{ item.text }}</p>
                    <h4>{{ item.name }}</h4>
                </li>
            {% endfor %} -->
        </ul>
        {% assign sorted = site.how-tos | where: "featured", "true" %}
        {% for item in sorted %}
            <iframe width="100%" src="{{ item.link }}" frameborder="0">
            </iframe>
        {% endfor %}
    </div>
</section>


