---
layout: default
---

<div class="maxwidth-sl mx-auto clearfix">
    <section class="left-70 wrapper">
        <div>
            <h3>{{ page.title }}</h3>
            <div class="py-h microtext co-primary">
                {{ page.date | date: "%A, %B %d, %Y" }}
            </div>
            {% if page.act %}
                <p class="py-h tx-c">
                    {{ page.act }}
                </p>
            {% endif %}
        </div>
        {% if page.image contains "/" %}
            <img src="{{ page.image | prepend: site.url }}" alt="" class="featured-image py-1">
        {% endif %}
        {% if page.caption %}
            <p class="pb-2">
                <em class="smalllh nanotext">{{ page.caption }}</em>
            </p>
        {% endif %}

        <div class="py-2" data-content>
            {{ content }}
        </div>
                
    </section>
    <aside class="right-30 sidebar wrapper">
        {% include components/sidebar.html %}
    </aside>
</div>

{% if page.document contains "/" %}
    <div class="maxwidth-sl mx-auto clearfix">
        <section class="wrapper">
            <h4><a class="uline" href="{{ page.document | prepend: site.url }}" download>Download this document</a></h4>
        </section>
    </div>
{% endif %}
