---
layout: default
---

<section class=" maxwidth-sl mx-auto top-heading">
    <div class="wrapper">
        {% include lists/breadcrumbs.html %}
        <h2>
            {{ page.title }}
        </h2>
    </div>
</section>

<section class="maxwidth-sl mx-auto">
    {% for file in page.document %}
    <div class="wrapper pt-h pb-h">
        <p class=" smalltext my-1h ">
            {{ file.name }}
        </p>
        <a href="{{ file.file | prepend: site.url }}" class="" download>
            <button class="px-h btn btn-brand border p-hh smalltext">
            {% include tools/icons.html icon="download" %}
            <p class="co-white m-0 pr-hh">
                Download
            </p>
            </button> 
        </a>
    </div>
    {% endfor %}
</section>
<section class="grid is-multi-col mostly-2 maxwidth-sl mx-auto pt-2">
    {% for link in page.videos %}
        <div class="">
            <iframe class="video-wrapper" src="{{ link.link }}" frameborder="0">
            </iframe>
            <h5>
                {{ link.name }}
            </h5>
        </div>
    {% endfor %}
</section>
